<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col">
            <div class="container text-center p-3">
                <a href="index.html"><img src="imagens/Logo.png"></a>
            </div>
        </div>

        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>

        <div class="col">
            <div class="container text-center p-3">
                <a href="ajuda.html"><img src="imagens/botoes/ajuda.png"></a>
                <a href="creditos.html"><img src="imagens/botoes/creditos.png"></a>
                <a href="termos.html"><img src="imagens/botoes/ter_uso.png"></a>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>